---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Experience | DevOps Portfolio">
  <div class="pt-20">
    <Experience />
  </div>
</Layout>
